.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* border-color: lightgreen; */
}

.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(91, 192, 91);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgb(110, 209, 110);

}

.doctor_outer h5 {
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 1%;
}

.doctor_login {
  text-align: center;
}

.doctor_outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50vh;

}

.doctor_img {
  width: 80%;
  height: 50vh;
  border-radius: 20%;

}

.last_doct {
  display: flex;
  flex-direction: row;
  justify-content: center;
}